<%= render "layouts/flash_messages" %>
<div class="d-flex my-5 justify-content-center gap-5">
  <div class="d-flex flex-column gap-3">
    <%# render 'story/stories_list' %>
    <div class="flex flex-column">
      <%  @feeds.each do |r| %>
        <%= render 'recipes/recipe', recipe: r %>
      <% end %>
    </div>
  </div>
  <div class="mt-3">
    <% if can? :read, :suggestions %>
      <%= render 'suggestions/suggestions_list', suggestions: @suggestions %>
    <% end %>
  </div>
</div>
